/e_01_splash.png
/e_02_onboarding.png
/e_03_login.png
/e_04_login_loading.png
/e_05_home.png
/e_06_home_scrolled.png
/ref_01.png
/ref_02.png
/ref_03.png
/ref_04.png
/ref_05.png
/ref_06.png
/w_01_home_map.png
/w_02_weather_sunny.png
/w_03_weather_clouds.png
/w_04_weather_wind.png
/w_05_weather_rain.png
/w_06_weather_rainbow.png
/w_07_recommendations.png
/YouCut_٢٠٢٦١٠٠٤_١٩٢٦٠٧٢٢٧.mp4